# This file contains common pin mappings for the BigTreeTech EBB36 V1.2
# when setup for T1

#####################################################################
#   MCU Definition
#####################################################################

[mcu tool1] # EBB 42 v1.2
canbus_uuid: dad4e05f70b8

#####################################################################
#   Extruder1
#####################################################################

[extruder1]
step_pin: tool1: PD0
dir_pin: tool1: PD1
enable_pin: !tool1: PD2
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.678 is a good starting point for CW2
##  Current extruder: G2SA
##--------------------------------------------------------------------
rotation_distance: 4.637 #44.324
##--------------------------------------------------------------------
#gear_ratio: 50:10 # CW2 gear ratio
gear_ratio: 9:1

microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.40
filament_diameter: 1.75

max_extrude_cross_section: 1.75
max_extrude_only_distance: 500 #100.0
max_extrude_only_velocity: 120


#####################################################################
#   Heater
#####################################################################

heater_pin: tool1: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: tool1: PA3
pullup_resistor: 2 #2200 #4700 
min_temp: 5
max_temp: 300  #revo voron
max_power: 1.0
min_extrude_temp: 170
# #control: pid
# control: pid   #### commented for initial
# pid_Kp: 22.2   #### commented for initial
# pid_Ki: 1.08   #### commented for initial
# pid_Kd: 114    #### commented for initial

##--------------------------------------------------------------------
## Pressure Advance
pressure_advance: 0.025 #0.042             # Try to keep pressure_advance below 1.0
pressure_advance_smooth_time: 00.03 #0.040 # Default is 0.040, leave stock
##--------------------------------------------------------------------

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder1]
uart_pin: tool1: PA15
interpolate: true
run_current: 0.85 #**
hold_current: 0.100
sense_resistor: 0.11 #**
stealthchop_threshold: 0
#driver_TBL: 0
#driver_HEND: 6
#driver_HSTRT: 7
#driver_TOFF: 

#uart_pin: tool1: PA15
#tx_pin: tool1:PA9
#interpolate: False
#run_current: 0.5
#stealthchop_threshold: 0


# [extruder_stepper helpert1]
# extruder: extruder1
# #   The extruder this stepper is synchronized to. If this is set to an
# #   empty string then the stepper will not be synchronized to an
# #   extruder. This parameter must be provided.
# step_pin: PE6
# dir_pin: PA14
# enable_pin: !PE0
# microsteps: 16
# rotation_distance: 22.678
# gear_ratio: 50:10

# ##  Make sure to update below for your relevant driver (2208 or 2209)
# [tmc2209 extruder_stepper helpert0]
# uart_pin: PD3
# interpolate: false
# run_current: 0.60

#####################################################################
#   Fan Control
#####################################################################

# [fan_generic part_fan_t1]
# ##  Print Cooling Fan
# pin: tool1: PA0
# kick_start_time: 0.5
# off_below: 0.10

# ## Hotend fan
# [heater_fan extruder1_fan]
# Pin: tool1: PA1
# max_power: 1.0
# kick_start_time: 0.5
# heater: extruder1
# heater_temp: 50.0
# ##  If you are experiencing back flow, you can reduce fan_speed
# fan_speed: 1.0
# tachometer_pin: ^tool1: PB9
# tachometer_ppr: 2
# #   When tachometer_pin is specified, this is the number of pulses per
# #   revolution of the tachometer signal. For a BLDC fan this is
# #   normally half the number of poles. The default is 2.
# tachometer_poll_interval: 0.0008

[heater_fan extruder_t1_fan]
pin: tool1: PA1  # "FAN1"
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan_generic part_fan_t1]       # part cooling fan
pin: tool1: PA0
cycle_time: 0.0100
kick_start_time: 1.00
hardware_pwm: false

#####################################################################
#   Toolhead 1 LEDs
#####################################################################

# [neopixel th_leds_t1]
# pin: tool1: PD3
# #   The pin connected to the neopixel. This parameter must be provided.
# chain_count: 3
# #   The number of Neopixel chips that are "daisy chained" to the
# #   provided pin. The default is 1 (which indicates only a single
# #   Neopixel is connected to the pin).
# color_order: GRBW
# #   Set the pixel order required by the LED hardware. Options are GRB,
# #   RGB, GRBW, or RGBW. The default is GRB.
# initial_RED: 1.0
# initial_GREEN: 0.0
# initial_BLUE: 1.0
# initial_WHITE: 0.0
# #   Sets the initial LED color of the Neopixel. Each value should be
# #   between 0.0 and 1.0. The WHITE option is only available on RGBW
# #   LEDs. The default for each color is 0.#

[neopixel Nozzle_LEDs_T1]
pin: tool1: PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 2
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1
initial_WHITE: 1.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

# [neopixel Nozzle_LEDs_T1]
# pin: head1: PD3
# #   The pin connected to the neopixel. This parameter must be provided.
# chain_count: 2
# #   The number of Neopixel chips that are "daisy chained" to the
# #   provided pin. The default is 1 (which indicates only a single
# #   Neopixel is connected to the pin).
# color_order: GRBW
# #   Set the pixel order required by the LED hardware. Options are GRB,
# #   RGB, GRBW, or RGBW. The default is GRB.
# initial_RED: 1
# initial_GREEN: 1
# initial_BLUE: 1
# initial_WHITE: 1.0
# #   Sets the initial LED color of the Neopixel. Each value should be
# #   between 0.0 and 1.0. The WHITE option is only available on RGBW
# #   LEDs. The default for each color is 0.#

#####################################################################
#   Toolhead 0 Filament runout switch
#####################################################################

[filament_switch_sensor T1_Filament_Runout_Sensor]
pause_on_runout: False
#runout_gcode:
#insert_gcode:
switch_pin: tool1: PB8

#####################################################################
#   Accelerometer
#####################################################################

[adxl345 tool1]
cs_pin: tool1: PB12
spi_software_sclk_pin: tool1: PB10
spi_software_mosi_pin: tool1: PB11
spi_software_miso_pin: tool1: PB2
axes_map: z,y,x

#####################################################################
#   Temperature Sensor
#####################################################################

[temperature_sensor tool1]
sensor_type: temperature_mcu
sensor_mcu: tool1
min_temp: 0
max_temp: 100

#####################################################################
#   gcode_macro T1
#####################################################################

[gcode_macro T1]
variable_color: ""
variable_tool_number: 1
gcode:
  _CHANGE_TOOL T={tool_number}

[tool T1]
tool_number: 1
extruder: extruder
## Fan control is handled by the tool change macro, not needed here
#fan: fan_generic part_fan_t1
## Offsets are handled by the tool change macro, make sure these are set to 0.
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
## Docking parameters set these for each tool
params_park_x: 299 #-1000     # X position with the toolhead screws fully within the docking slots.
params_detach_x: 295 #-1000   # X position with the toolhead screws safely outside of the docking slots.

## Input shaper parameters
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 63.0
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 53.0


[tool_probe T1]
pin: tool1: PB6    #endstop_pin: tool1:PB6
tool: 1
z_offset: -0.6
speed: 2.0
lift_speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.02
samples_tolerance_retries: 4
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder