# [probe_eddy_current btt_eddy] 
# sensor_type: ldc1612 
# z_offset: 2.5 # Set to a non-zero value 
# i2c_mcu: tool0 # MCU name of the actual board connected to Eddy Coil 
# i2c_bus: i2c3_PB3_PB4 # I2C bus actually connected to Eddy Coil 
# x_offset: 40 # Set actual offset relative to nozzle 
# y_offset: -20 # Set actual offset relative to nozzle 
# i2c_speed: 4000000
# #data_rate: 500 

[bed_mesh]
speed: 270 # X and Y movement speed during calibration (mm/s)
horizontal_move_z: 2 # Height (in mm) to which the head is moved before starting the scanning operation
mesh_min: 0,20 # For rectangular beds, defines the minimum X, Y coordinates of the grid. This coordinate is relative to the Eddy's location. This will be the first scanning point, closest to the origin. This parameter must be provided for rectangular beds.
mesh_max: 390, 290 # For rectangular beds, defines the maximum X, Y coordinates of the grid. Following the same principle as mesh_min, but this will be the scanning point farthest from the bed origin. This parameter must be provided for rectangular beds.
probe_count: 21, 21 # For rectangular beds, this is a pair of comma-separated integers X, Y, defining the number of points probed along each axis. A single value is also valid, in which case the value will be applied to both axes.
algorithm: bicubic
#zero_reference_position: -35,-15



[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G90 # Abs positioning
  G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  #PROBE_EDDY_CURRENT_CALIBRATE {rawparams}
  PROBE_EDDY_CURRENT_CALIBRATE CHIP=btt_eddy



#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
 # SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
 BTT_BED_MESH_CALIBRATE METHOD=rapid_scan
 BED_MESH_OFFSET [X=1.275] [Y=0.671] [ZFADE=0]
#  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
# Configure other parameters as needed
# The coil version does not have a built-in thermistor, so there is no need to configure temperature_probe
