[neopixel th_leds_t0]
pin: tool0: PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

[neopixel th_leds_t1]
pin: tool1: PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

# [neopixel th_leds_t2]
# pin: tool2: PD3
# #   The pin connected to the neopixel. This parameter must be provided.
# chain_count: 3
# #   The number of Neopixel chips that are "daisy chained" to the
# #   provided pin. The default is 1 (which indicates only a single
# #   Neopixel is connected to the pin).
# color_order: GRBW
# #   Set the pixel order required by the LED hardware. Options are GRB,
# #   RGB, GRBW, or RGBW. The default is GRB.
# initial_RED: 1.0
# initial_GREEN: 0.0
# initial_BLUE: 1.0
# initial_WHITE: 0.0
# #   Sets the initial LED color of the Neopixel. Each value should be
# #   between 0.0 and 1.0. The WHITE option is only available on RGBW
# #   LEDs. The default for each color is 0.#

# [neopixel th_leds_t3]
# pin: tool1: PD3
# #   The pin connected to the neopixel. This parameter must be provided.
# chain_count: 3
# #   The number of Neopixel chips that are "daisy chained" to the
# #   provided pin. The default is 1 (which indicates only a single
# #   Neopixel is connected to the pin).
# color_order: GRBW
# #   Set the pixel order required by the LED hardware. Options are GRB,
# #   RGB, GRBW, or RGBW. The default is GRB.
# initial_RED: 1.0
# initial_GREEN: 0.0
# initial_BLUE: 1.0
# initial_WHITE: 0.0
# #   Sets the initial LED color of the Neopixel. Each value should be
# #   between 0.0 and 1.0. The WHITE option is only available on RGBW
# #   LEDs. The default for each color is 0.#


# [neopixel Nozzle_LEDs_T0]
# pin: tool0: PD3
# #   The pin connected to the neopixel. This parameter must be provided.
# chain_count: 3
# #   The number of Neopixel chips that are "daisy chained" to the
# #   provided pin. The default is 1 (which indicates only a single
# #   Neopixel is connected to the pin).
# color_order: GRBW
# #   Set the pixel order required by the LED hardware. Options are GRB,
# #   RGB, GRBW, or RGBW. The default is GRB.
# initial_RED: 1
# initial_GREEN: 1
# initial_BLUE: 1
# initial_WHITE: 0
# #   Sets the initial LED color of the Neopixel. Each value should be
# #   between 0.0 and 1.0. The WHITE option is only available on RGBW
# #   LEDs. The default for each color is 0.#


# [neopixel Nozzle_LEDs_T1]
# pin: head1: PD3
# #   The pin connected to the neopixel. This parameter must be provided.
# chain_count: 2
# #   The number of Neopixel chips that are "daisy chained" to the
# #   provided pin. The default is 1 (which indicates only a single
# #   Neopixel is connected to the pin).
# color_order: GRBW
# #   Set the pixel order required by the LED hardware. Options are GRB,
# #   RGB, GRBW, or RGBW. The default is GRB.
# initial_RED: 1
# initial_GREEN: 1
# initial_BLUE: 1
# initial_WHITE: 0
# #   Sets the initial LED color of the Neopixel. Each value should be
# #   between 0.0 and 1.0. The WHITE option is only available on RGBW
# #   LEDs. The default for each color is 0.#


[led_effect panel_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:th_leds_t0 (2,3)
layers:
    breathing  10 1 top (.5,.5,1)



[led_effect panel_idle1]
autostart:              true
frame_rate:             24
leds:
    neopixel:th_leds_t1 (2,3)
layers:
    breathing  10 1 top (.5,.5,1)



# [led_effect panel_idle2]
# autostart:              true
# frame_rate:             24
# leds:
#     neopixel:th_leds_t2 (2,3)
# layers:
#     breathing  10 1 top (.5,.5,1)



# [led_effect panel_idle3]
# autostart:              true
# frame_rate:             24
# leds:
#     neopixel:th_leds_t3 (2,3)
# layers:
#     breathing  10 1 top (.5,.5,1)